@import 'style/variables';

.Layout {

  &__header {
    padding: 45px 80px;
    box-shadow: none;
    background-color: $white !important;

    .HeaderView__logo {
      font-weight: bold;
      font-size: 30px;
    }

    .HeaderView__logo:first-letter {
      color: $blue;
    }
    .navbar-nav {
      margin-left: 20px;
    }

    .nav-item {
      padding: 20px;
      a {
        font-weight: normal !important;
        font-size: 16px !important;
        color: $blueDark !important;
        padding: 9px 16px 10px !important;
      }
    }
  }
}
