@import '../../style/variables';

.Layout {

  &__header {
    z-index: 10;
  }

  &__sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 54px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow: auto;

    .TreeView__item-label {
      background-color: transparent;
    }

    .TreeView__item_selected .TreeView__item-label {
      background-color: $list-group-active-bg;
    }
  }

  &__content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }


}
